// // Base
$primary-color: #4C926B;
$primary-color-start: $primary-color;
$primary-color-end: #92bd88;
$help-color: #F8f8f8;
$title-color: #1a1a1a;
$title-color2: #666666;
$text-color: #808080;
$disable-color: #cccccc;
$dark-background: #cccccc;
$white: #fff;
$black: #000;
$required-color: #E1B11F;
$font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun, sans-serif;
$animation-duration: 0.25s;
$animation-timing-fun: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$font-size:    9px;
$font-size-0: 10px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-weight-bold: 400;
$font-size-small: $font-size-1;
$font-size-base: $font-size-2;
$font-size-large: $font-size-3;
$line-height-base: 1.5;